<style>
    div {
        margin-bottom: 16px;
    }
	
	#main {
		text-align: center;
	}

	#qr-video{
		width: 50%;
	}
	
	
    #flash-toggle {
        display: none;
    }

    hr {
        margin-top: 32px;
    }
</style>